/*
* — load fonts —
*/

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Light'), local('Gilroylight'), url(../gilroylight.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy ExtraBold'), local('GilroyextraBold'), url(../gilroyextrabold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), local('OpenSans-Regular'), url(../opensans.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../opensanslight.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}

input,
textarea,
.sort-type-list {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

p,
.user-nav,
.catalog-nav,
.search-field,
.search-btn,
.phone,
.footer-address {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing:0.01em;
  font-weight: 300;
  font-style: normal;
}

.catalog-nav-btn,
.site-nav,
.btn,
.catalog-sections-list,
.form-popup label {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

/*
* — buttons —
*/

.btn {
  display: inline-block;
  box-sizing: border-box;
  min-width: 160px;
  padding: 8px 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  border: none;
  outline: none;
  letter-spacing: 0.2em;
  text-align: center;
  vertical-align: middle;
  background-color: #f0c52e;
  transition: all 200ms;
  box-shadow: inset 0px 16px 0px 0px #ffffff, inset 0px -16px 0px 0px #ffffff;
  /*в IE не работает, придется строить костыль
  gradient? ::before ::after?*/
}

.btn:hover,
.btn:focus,
.btn:active {
  box-shadow: none;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

/*
* — accessibility —
*/

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hidden {
  display: none;
}

/*
* — brands —
*/

.brand-grayscale image {
  opacity: 0.2;
  transition: opacity 200ms;
}

.brand-grayscale:hover image,
a:focus image {
  opacity: 1;
  filter: none;
}

/*
* — forms —
*/
.form-search {
  display:flex;
}
.search-field {
  box-sizing:border-box;
  color: #000000;
  background-color: transparent;
  background-image: url("../img/search.svg");
  background-repeat:no-repeat;
  background-position:left 4px bottom 14px;
  border: none;
  padding: 8px 20px 8px 39px;
  width: 355px;
 /*TODO fix vertical alignment in IE*/
}

/*placeholder madness */

.search-field::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-field::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-field::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-field:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-field:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-field:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-field:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-field:hover::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-field:hover:-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-field:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-field:focus {
  border-bottom: 2px solid #000000;
  outline: none;
}

.search-btn {
  width: 85px;
  height: 49px;
  background-color: transparent;
  border: 2px solid #000000;
}

.search-field:focus+.search-btn {
  display: block;
}

.search-btn:hover {
  background-color: #000000;
  color: #ffffff;
}

.search-btn:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
  display:block;
}

/*background overlay*/

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.form-popup {
  box-sizing: border-box;
  padding: 92px 100px 78px;
  background: #fff;
  border: none;
  max-width: 960px;
  min-width: 560px;
  min-height: 553px;
  box-shadow: 0px 10px 20px 0px rgba(4, 6, 6, 0.2);
  /*тень из PS конвертируется в css неточно; вставить картинкой?*/
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-popup input[type="text"],
.form-popup input[type="email"],
.form-popup textarea {
  padding: 15px;
  margin-bottom: 40px;
  border: none;
  background-color: rgba(230, 230, 230, 0.5)
}

.form-popup input[type="text"]:hover,
.form-popup input[type="email"]:hover,
.form-popup textarea:hover {
  border: none;
  background-color: rgba(230, 230, 230, 0.8)
}

.form-popup input[type="text"]:focus,
.form-popup input[type="email"]:focus,
.form-popup textarea:focus {
  outline: 3px solid #f0c52e;
  background-color: #ffffff;
}

.form-popup input[type="text"]:invalid,
.form-popup input[type="email"]:invalid,
.form-popup textarea:invalid {
  /* background-color:rgba(237, 181, 181, 0.5);
 проверить и повесить на поля при отправке формы или потере фокуса
 */
}

.form-popup input[type="text"],
.form-popup input[type="email"] {
  box-sizing: border-box;
  width: 360px;
}

.form-popup .form-field:first-child {
  margin-right: 40px;
}

.form-popup .form-field.flex-wide {
  flex-basis: 100%;
}

.form-popup textarea {
  box-sizing: border-box;
  overflow: auto;
  min-height: 155px;
  width: 100%;
  resize: none;
}

.form-popup input[type="submit"] {
  display: block;
  width: 200px;
}

.form-popup label {
  display: block;
  margin-bottom: 5px;
}

.map-popup {
  box-sizing: border-box;
  padding: none;
  background: url("../img/map-big.jpg") no-repeat 100% #ffffff;
  border: none;
  width: 960px;
  height: 559px;
  box-shadow: 0px 10px 20px 0px rgba(4, 6, 6, 0.2);
  /*тень из PS конвертируется в css неточно; вставить картинкой?*/
  position: relative;
}

.modal-close-btn {
  position: absolute;
  display: block;
  padding: 0;
  width: 55px;
  height: 55px;
  top: 22px;
  right: 22px;
  opacity: 0.5;
  transition: all 200ms;
  border: none;
  border-radius: 50%;
  background: url("../img/modal-close.svg") no-repeat center/100%;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  opacity: 1;
  outline: none;
}

.modal-close-btn:active {
  opacity: 0.3;
}
