/*
* — load fonts
*/

@font-face {
  font-weight: 300;
  font-family: "Gilroy";
  font-style: normal;

  src: local("Gilroy Light"), local("Gilroylight"), url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Gilroy";
  font-style: normal;

  src: local("Gilroy ExtraBold"), local("GilroyextraBold"), url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;

  src: local("Open Sans"), local("OpenSans-Regular"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Open Sans";
  font-style: normal;

  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/opensanslight.woff") format("woff");
}

/*
* — global legit —
*/

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #000000;
  letter-spacing: 0.01em; /*TODO:FIXME: похоже эта штука сначала переводится в пиксели, а только потом наследуется.
  Поэтому такое попадалово со шрифтами. исправить везде где шрифт отличается от дефолтнго. */

  background-color: #ffffff;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
}


.header-logo[href]:hover,
.compare:hover,
.site-nav-footer li:hover,
.user-nav li:hover,
.basket:hover,
.footer-logo[href]:hover,
.credits:hover,
.phone:hover {
  opacity: 0.6;
}


.site-nav a:hover,
.sub-menu a:hover,
.catalog-link:hover,
.catalog-group li:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-logo[href]:active,
.compare:active,
.user-nav li:active,
.site-nav-footer li:active,
.basket:active,
.footer-logo[href]:active,
.credits:active,
.phone:active {
  opacity: 0.3;
}

.site-nav a:active,
.sub-menu a:active,
.catalog-link:active,
.catalog-group li:active {
  color: rgba(0, 0, 0, 0.3);
}

input,
textarea,
.sort-type-list {
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", Arial, sans-serif;
}

.site-nav,
.site-nav-footer,
.btn,
.catalog-sections-list,
.form-contact label {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
}

/*
* — header — ==============================================================================================================
*/
/*FIXME: placeholder text letter-spacing*/
.header-main {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: flex-start;
  width: 1160px;
  height: 186px;
  margin: 40px auto 0;
  padding: 34px 60px 0;

  color: inherit;

  background-color: rgba(247,226,150,1);

  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -ms-flex-wrap: wrap;
}

.header-logo {
  position: absolute;
  top: -22px;
}
.header-logo,
.footer-logo {
  -webkit-transition: all 200ms;
          transition: all 200ms;
}

.header-main a {
  color: inherit;
}
.header-main ul {
  margin: 0;

  list-style: none;
}

.user-nav {
  padding: 0;
}
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-grow: 1;
  flex-basis: 100%;
  -ms-flex-order: 2;
  order: 2;
  height: 24px;
  padding-bottom: 50px;

  -webkit-box-flex: 1;
  -webkit-box-ordinal-group: 3;
  -ms-flex-positive: 1;
  -ms-flex-preferred-size: 100%;
}
.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-grow: 1;
  flex-basis: 100%;
  justify-content: flex-start;
  padding-left: 0;

  -webkit-box-flex: 1;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -ms-flex-positive: 1;
  -ms-flex-preferred-size: 100%;
}

.site-nav > li {
  display: block;
  padding: 0 20px;

  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.site-nav > li:first-child {
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
  padding:0;
}
.site-nav > li:last-child {
  margin-left: auto;
  padding-right: 0;
  text-align: right;
}

.site-nav a {
  margin-right: -0.2em;
  padding-bottom: 50px;
}

.catalog-nav {
  position: absolute;
  top: 155px;
  left: 0;
  z-index: 2;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-flow: row nowrap;
  align-content: flex-start;
  width: 100%;
  height: 142px;
  margin: 0;
  padding: 0 60px;
  overflow: hidden;

  color: #000000;

  background-color: rgba(247,226,150,1);
  visibility: hidden;

  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -ms-flex-flow: row nowrap;
  -ms-flex-line-pack: start;
}
.catalog-group ul {
  width: 200px;
  padding-left: 40px;
}
.catalog-group li {
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: none;
  letter-spacing: 0.01em;
}
.catalog-group:first-child ul {
  padding-left: 0;
}

.catalog-link {
  position: relative;

  padding-right: 30px;
}
.catalog-link::after {
  content: "";
  position: absolute;
  top: 3px;
  right: 2px;

  display: block;
  width: 16px;
  height: 16px;

  background: url("../img/plus.svg") no-repeat;
  opacity: 0.3;
}

.sub-menu:hover > ul {
  visibility: visible;
}
.header-main .user-nav {
  height: 49px;
  margin-right: auto;
  padding-top: 9px;
}
.login,
.profile {
  display: inline-block;
  max-width: 200px;
  padding-left: 46px;
  overflow: hidden;

  vertical-align: top;
  white-space: nowrap;
  text-overflow: ellipsis;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: left 20px center;
}
.logout {
  display: inline-block;
  padding-left: 15px;

  vertical-align: top;
}
.compare {
  display: block;
  height: 49px;
  padding-top: 9px;
  padding-right: 20px;
  padding-left: 40px;

  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: left 20px top 20px;
}
.basket {
  display: block;
  height: 49px;
  padding-top: 9px;
  padding-left: 43px;

  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: left 20px top 18px;
}


/* form-search */
.form-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
  -ms-flex-order: -1;
  order: -1;
  height: 49px;

  -webkit-box-flex: 0;
  -webkit-box-ordinal-group: 0;
}
.search-field {
  width: 355px;
  padding: 8px 20px 8px 39px;

  color: #000000;

  background-color: transparent;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: left 4px bottom 14px;
  border: none;
  border-bottom: 2px solid transparent;
}

/*placeholder madness */

.search-field::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-field:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-field::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-field:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-field:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-field:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-field:focus {
  border-bottom: 2px solid #000000;
  outline: none;
}

.search-btn {
  width: 85px;
  height: 49px;
  padding: 0;

  background-color: transparent;
  border: 2px solid #000000;
  visibility: hidden;
}

.search-field:focus + .search-btn {
  visibility: visible;
}

.search-btn:hover {
  color: #ffffff;

  background-color: #000000;
}

.search-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;
  visibility: visible;
}
/*
* — slider — =====================================================================================================
*/

.slider {
  position: relative;

  width: 1200px;
  margin: 0 auto 25px;
  padding: 0 20px;
}
.slider::before {
  content: "";

  display: block; /*TODO: временная заглушка, хотя она клёвая, может оставить?*/
  height: 113px;
  margin-bottom: -113px;

  background-color: rgba(247,226,150,1);
  background-clip: content-box;
}
.slider-labels {
  position: absolute;
  right: 103px;
  bottom: 158px;
  z-index: 1;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider-control {
  display: none;
}
.slider-selector {
  display: block;
  width: 12px;
  height: 12px;
  /*border-radius: 50%; малюсенькие кнопочки, со скруглением труднее нажимать*/
  margin-left: 21px;

  background-color: #ffffff;
  background-image: url("../img/slider-button-empty.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
/*CSS slider multi-level selector 1*/
.slider-control:nth-child(1):checked ~ .slider-labels label:nth-child(1),
.slider-control:nth-child(2):checked ~ .slider-labels label:nth-child(2),
.slider-control:nth-child(3):checked ~ .slider-labels label:nth-child(3) {
  background-image: url("../img/slider-button.svg");
}
/*CSS slider multi-level selector 2*/
.slider-control:nth-child(1):checked ~ .slider-list li:nth-child(1),
.slider-control:nth-child(2):checked ~ .slider-list li:nth-child(2),
.slider-control:nth-child(3):checked ~ .slider-list li:nth-child(3) {
  -ms-flex-order: -1;
  order: -1;

  visibility: visible;

  -webkit-box-ordinal-group: 0;
}
.slider-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-flow: row nowrap;
  margin: 0;
  padding: 0;

  list-style: none;
  overflow:hidden;

  counter-reset: slide-number;

  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -ms-flex-flow: row nowrap;
}
.slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;

  visibility: hidden;

  -webkit-box-flex: 0;
}
.slider-item::before {
  content: "";

  counter-increment: slide-number;
}

.slide-image {
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
  padding-right: 20px;

  -webkit-box-flex: 0;
}
.slide-image img {
  display: block;
  margin: 0 auto;
}
.slide-content {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex:0 0 50%;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-left: 20px;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}
.slide-content::before {
  content: "";

  display: block;
  width: 100px;
  height: 7px;
  margin: 40px 0 34px 0;

  background-color: #ffffff;
}
.slide-content::after {
  content: "0"counter(slide-number);
  position: absolute;
  top: -12px;
  right: 44px;

  display: block;

  font-weight: bold;
  font-size: 179.2px;
  line-height: 179.2px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #ffffff;
  letter-spacing: 0.01em;
}
.slider-slogan {
  z-index: 1;

  margin-bottom: 20px;

  font-weight: bold;
  font-size: 47px;
  line-height: 56px;
  font-family: "Gilroy", Arial, sans-serif;
  letter-spacing: 0.01em;
}
.slider-description {
  margin-top: 0;
  margin-bottom: 42px;
}
.slide-content .btn {
  margin-bottom: 50px;
}
.slider-item-spec {
  -ms-flex-order: 4;
  order: 4;
  align-self: flex-start;
  padding-bottom: 20px;

  border-spacing: 0;

  -webkit-box-ordinal-group: 5;
  -ms-flex-item-align: start;
}
.slider-item-spec td {
  width: 140px;
  padding: 0;

  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy", Arial, sans-serif;
}
.slider-item-spec td:first-child {
  width: 160px;
}
.slider-item-spec th {
  padding: 6px 0 0 0;

  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  font-family: "Open Sans", Arial, sans-serif;
}

/*
* - catalog-sections ===================================================================================================
*/
.catalog-sections {
  width: 1160px;
  margin: 0 auto;
}
.catalog-sections-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;

  list-style: none;
  /*overflow-x:auto;*/

  -ms-flex-wrap: wrap;
}
.catalog-sections-list li {
  height: 240px;
  margin-top: 80px;
  margin-right: 40px;
}
.catalog-sections-list li:last-child {
  margin-right: 0;
}
.section-item {
  position: relative;

  display: block;
  width: 160px;
  height: 240px;
  overflow: hidden;

  color: inherit;
}
.section-item::before {
  content: "";

  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 33px;

  background-color: rgba(240,197,46,0.5);
}
.section-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 160px;
  height: 160px;

  background-repeat: no-repeat;
}
.section-item:hover::before {
  background-color: rgba(240,197,46,1);
}
.section-item:active::after {
  opacity: 0.3;
}
.section-item:active {
  color: rgba(0,0,0,0.3);
}
.section-item.item-vr::after {
  background-image: url("../img/popular-1.svg");
  background-position: 31px 52px;
}
.section-item.item-monopod::after {
  background-image: url("../img/popular-2.svg");
  background-position: 38px 43px;
}
.section-item.item-camera::after {
  background-image: url("../img/popular-3.svg");
  background-position: 49px 38px;
}
.section-item.item-bracelet::after {
  background-image: url("../img/popular-4.svg");
  background-position: 28px 50px;
}
.section-item.item-watch::after {
  background-image: url("../img/popular-5.svg");
  background-position: 55px 32px;
}
.section-item.item-quadro::after {
  background-image: url("../img/popular-6.svg");
  background-position: 13px 49px;
}

/*
* — services — ================================================================================================
*/
.services {
  /* background-color:#e5e5e5;*/
  position: relative;
}
.services::before {
  /*TODO: убрать эту хрень*/
  content: "";
  position: absolute;
  z-index: -1;

  display: block;
  width: 100%;
  height: 100px;

  background-color: #ffffff;
}
.services::after {
  content: "";
  position: absolute;
  top: 100px;
  z-index: -1;

  display: block;
  width: 100%;
  height: 288px;

  background-color: #e5e5e5;
}

.services ul {
  list-style: none;
}
.services h2 {
  font-weight: bold;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", Arial, sans-serif;
}

.services p {
  width: 460px;
}
.delivery {
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-position: 75% 0;
}
.warranty {
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
  background-position: 75% 0;
}
.credit {
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
  background-position: 75% 0;
}

/*
* — brands — =========================================================================================================
*/
.brands {
  width: 1160px;
  margin: 0 auto;
}
.brand-grayscale image {
  opacity: 0.2;

  -webkit-transition: opacity 200ms;
          transition: opacity 200ms;
}

.brand-grayscale:hover image,
a:focus image {
  opacity: 1;
  -webkit-filter: none;
          filter: none;
}

.brands ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  padding: 0;

  list-style: none;

  -ms-flex-wrap: wrap;
}
.brands li {
  margin-right: 40px;
}
.brands li:last-child {
  margin-right: 0;
}

/*
* — about & contacts — =======================================================================================================
*/
/*TODO: заменить обёртку на флекс*/
.two-column-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about h2,
.contact h2 {
  position: relative;

  font-weight: bold;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", Arial, sans-serif;
}
.about p {
  width: 460px;
}
.about::before,
.contact::before {
  content: "";
  position: absolute;

  display: block;
  width: 80px;
  height: 7px;

  background-color: #000000;
}

.about li {
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
  font-family: "Gilroy", Arial, sans-serif;
}

/*
* =======================================================================CATALOG=======================================
*/

.container-catalog h1 {
  font-weight: bold;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", Arial, sans-serif;
}
.breadcrumbs {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans", Arial, sans-serif;
}
.breadcrumbs-link,
.breadcrumbs-current {
  color: rgba(0,0,0,0.3);
}
.breadcrumbs-path,
.breadcrumbs-current {
  display: inline-block;

  vertical-align: baseline;
}

.breadcrumbs-link::after {
  content: "";

  display: inline-block;
  width: 4px;
  height: 7px;
  padding: 0 16px;

  vertical-align: baseline;

  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.breadcrumbs-link:hover {
  color: rgba(0,0,0,0.6);
}
.breadcrumbs-link:active {
  color: rgba(0,0,0,0.1);
}

/* filters*/

.filter {
  width: 30%;

  background-color: #eeeeee;
}
.form-filter {
  width: 200px;
  margin-right: 68px;
  margin-left: 60px;
}
.filter h2,
.sort h2 {
  padding: 23px 0 23px 60px;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: rgba(0, 0, 0, 0.08);
}
.form-filter fieldset {
  position: relative;

  padding: 0;

  border: none;
}
.form-filter legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
}
.form-filter fieldset::before {
  content: "";
  position: absolute;
  top: -10px;

  display: block;
  width: 100%;
  height: 2px;
  overflow-x: hidden;

  background-color: #000000;
}
.form-filter label {
  font-size: 14px;
  line-height: 40px;
}
.form-filter .btn {
  width: 200px;
}

/*sorting*/

.sort {
  padding-left: 72px;
}
.sort ul {
  list-style: none;
}
.sort a {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  letter-spacing: normal;

  opacity: 0.3;
}
.sort a[href]:hover {
  opacity: 0.6;
}
.sort a[href]:active,
.sort-method-active a,
.sort-direction-active a {
  opacity: 1;
}
/*catalog-list*/

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-flow: row wrap;

  list-style: none;

  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -ms-flex-flow: row wrap;
}
.catalog-item {
  padding: 20px;
}
.catalog-item header {
  width: 360px;
}
.catalog-item-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
}
.catalog-item-price {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #464646;
}
.catalog-item-image {
  position: relative;

  width: 360px;
  height: 380px;
}
.catalog-item-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgba(238,238,238,0.7);
}
.catalog-item-image:hover::after {
  display: block;
}

.btn.basket-add {
  width: 200px;
}
.compare-add {
  font-size: 13px;
  line-height: 20px;

  background: transparent;
  border: none;
  opacity: 0.5;
}
.compare-add:hover {
  opacity: 1;
}
.compare-add:active {
  outline: none;
  opacity: 0.2;
}
/*pagination*/
.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 0;

  list-style: none;

  background-color: rgba(0,0,0,0.08);

  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-flow: row nowrap;
  -ms-flex-pack: center;
}
.pagination-list li {
  padding: 0 15px;
}
.pagination-list li:first-child {
  margin-right: auto;
  padding-left: 0;
}
.pagination-list li:last-child {
  margin-left: auto;
  padding-right: 0;
}
.pagination-list a {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  opacity: 0.3;
}
.page-previous a,
.page-next a,
.page-current a {
  opacity: 1;
}
.page-previous a,
.page-next a {
  display: block;
  height: 70px;
  padding: 23px 30px;
  overflow: hidden;

  text-align: center;
}
.page-previous a {
  width: 126px;
}
.page-next a {
  width: 137px;
}
.page-previous a[href]:hover,
.page-next a[href]:hover {
  background-color: rgba(0,0,0,0.08);
}
.page-previous a[href]:active,
.page-next a[href]:active {
  /*background-color:rgba(0,0,0,0.08);*/
  color: rgba(0,0,0,0.3);
}
.page a[href]:hover {
  opacity: 0.6;
}
.page a[href]:active {
  opacity: 1;
}
/*
* — footer — ==========================================================================================================
*/
.footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  height: 323px;
  margin-top: 40px;
  overflow: hidden;

  color: #ffffff;

  background-color: #464646;

  -ms-flex-wrap: wrap;
}
.footer-main ul {
  list-style: none;
}
.footer-main a {
  color: inherit;
}

.footer-address {
  font-style: normal;
}
.footer .login,
.footer .profile {
  background-image: url("../img/user-footer.svg");
}
.footer.compare {
  background-image: url("../img/compare-footer.svg");
}
.footer.basket {
  background-image: url("../img/cart-footer.svg");
}
.site-nav-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
}
.site-nav-footer li {
  display: block;
  padding: 0 20px;

  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.site-nav-footer a {
  margin-right: -0.2em;
}
.social-list a {
  display: block;
  width: 32px;
  height: 32px;

  background-color: #7e7e7e;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  opacity: 0.3;

  -webkit-transition: all 200ms;
          transition: all 200ms;
}
.social-list a:hover {
  opacity: 0.6;
}
.social-list a:active {
  opacity: 0.1;
}
.social-list .facebook {
  background-image: url("../img/fb.svg");
}
.social-list .instagram {
  background-image: url("../img/instagram.svg");
}
.social-list .twitter {
  background-image: url("../img/twitter.svg");
}
.credits {
  display: block;
  width: 35px;
  height: 35px;

  background-image: url("../img/logo-html.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/*
* — buttons — ========================================================================================================================
*/

.btn {
  /*TODO: fix outline in chrome*/
  /* fixed gradient for services block, какой ужасный получился костыль, мама роди меня обратно*/
  display: block;
  min-width: 160px;
  max-width: 280px;
  height: 40px;
  padding: 8px 20px;
  overflow: hidden;

  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  white-space: nowrap;
  text-overflow: clip;

  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(40%, rgba(0, 0, 0, 0)), color-stop(40%, #f0c52e), color-stop(60%, #f0c52e), color-stop(60%, rgba(0, 0, 0, 0))),
  -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(40%, rgba(0, 0, 0, 0)), color-stop(40%, #f0c52e), color-stop(60%, #f0c52e), color-stop(60%, rgba(0, 0, 0, 0))),
  -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(40%, rgba(0, 0, 0, 0)), color-stop(40%, #f0c52e), color-stop(60%, #f0c52e), color-stop(60%, rgba(0, 0, 0, 0))),
  -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(40%, rgba(0, 0, 0, 0)), color-stop(40%, #f0c52e), color-stop(60%, #f0c52e), color-stop(60%, rgba(0, 0, 0, 0))),
  -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(40%, rgba(0, 0, 0, 0)), color-stop(40%, #f0c52e), color-stop(60%, #f0c52e), color-stop(60%, rgba(0, 0, 0, 0))),
  -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(40%, rgba(0, 0, 0, 0)), color-stop(40%, #f0c52e), color-stop(60%, #f0c52e), color-stop(60%, rgba(0, 0, 0, 0))),
  -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(40%, rgba(0, 0, 0, 0)), color-stop(40%, #f0c52e), color-stop(60%, #f0c52e), color-stop(60%, rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, #f0c52e 40%, #f0c52e 60%, rgba(0, 0, 0, 0) 60%),
  linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, #f0c52e 40%, #f0c52e 60%, rgba(0, 0, 0, 0) 60%),
  linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, #f0c52e 40%, #f0c52e 60%, rgba(0, 0, 0, 0) 60%),
  linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, #f0c52e 40%, #f0c52e 60%, rgba(0, 0, 0, 0) 60%),
  linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, #f0c52e 40%, #f0c52e 60%, rgba(0, 0, 0, 0) 60%),
  linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, #f0c52e 40%, #f0c52e 60%, rgba(0, 0, 0, 0) 60%),
  linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, #f0c52e 40%, #f0c52e 60%, rgba(0, 0, 0, 0) 60%);
  background-repeat: repeat-x;
  background-position: 0 0;
  border: none;

  -webkit-transition: all 200ms;
          transition: all 200ms;
}

.btn:hover,
.btn:active {
  background-position: 0 -7px, 0 -14px,0 0, 0 7px, 0 14px, 0 -21px, 0 21px;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);

  outline: none;
}

.slider-item .btn {
  width: 220px;
}

.services .btn {
  width: 160px;
}
.services .btn:active {
  color: #f7e184;

  background: #000000;
}

.about .btn,
contact .btn {
  width: 260px;
}

/*
* — accessibility —
*/

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

.hidden {
  display: none;
}

/*
* — forms — =====================================================================================================================
*/


/*background overlay*/

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 200ms;
          transition: opacity 200ms;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-line-pack: center;
  -ms-flex-pack: center;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup-writeus {
  /*TODO: тень из PS конвертируется в css неточно; вставить картинкой?*/
  position: relative;

  min-width: 560px;
  max-width: 960px;
  min-height: 553px;

  background: #ffffff;
  border: none;
  -webkit-box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
          box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
}
.form-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;
  padding: 92px 100px 78px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.form-contact input[type="text"],
.form-contact input[type="email"],
.form-contact textarea {
  margin-bottom: 40px;
  padding: 15px;

  background-color: rgba(230, 230, 230, 0.5);
  border: none;;
}

.form-contact input[type="text"]:hover,
.form-contact input[type="email"]:hover,
.form-contact textarea:hover {
  background-color: rgba(230, 230, 230, 0.8);
  border: none;;
}
.form-contact input[type="email"]:invalid,
.form-contact textarea:invalid {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  /*TODO: background-color:rgba(237, 181, 181, 0.5);
 проверить и повесить на поля при отправке формы или потере фокуса
 */
}

.form-contact input[type="text"]:focus,
.form-contact input[type="email"]:focus,
.form-contact textarea:focus {
  background-color: #ffffff;
  outline: 3px solid #f0c52e;
}



.form-contact input[type="text"],
.form-contact input[type="email"] {
  width: 360px;
}

.form-contact .form-field:first-child {
  margin-right: 40px;
}

.form-contact .form-field.flex-wide {
  flex-basis: 100%;

  -ms-flex-preferred-size: 100%;
}

.form-contact textarea {
  width: 100%;
  min-height: 155px;
  overflow: auto;

  resize: none;
}

.form-contact input[type="submit"] {
  display: block;
  width: 200px;
}

.form-contact label {
  display: block;
  margin-bottom: 5px;
}

.popup-map {
  /*TODO: тень из PS конвертируется в css неточно; вставить картинкой?*/
  position: relative;

  width: 960px;
  height: 559px;
  padding: 0;

  background: url("../img/map-big.jpg") no-repeat 100% #ffffff;
  border: none;
  -webkit-box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
          box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.modal-close-btn {
  position: absolute;
  top: 22px;
  right: 22px;

  display: block;
  width: 55px;
  height: 55px;
  padding: 0;

  background: url("../img/modal-close.svg") no-repeat center/100%;
  border: none;
  border-radius: 50%;
  opacity: 0.5;

  -webkit-transition: all 200ms;
          transition: all 200ms;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  outline: none;
  opacity: 1;
}

.modal-close-btn:active {
  opacity: 0.3;
}
