/*
* — load fonts —
*/

@font-face {
  font-weight: normal;
  font-family: "Gilroy";
  font-style: normal;

  src: local("Gilroy Light"), local("Gilroylight"), url(../gilroylight.woff) format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Gilroy";
  font-style: normal;

  src: local("Gilroy ExtraBold"), local("GilroyextraBold"), url(../gilroyextrabold.woff) format("woff");
}

@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  font-style: normal;

  src: local("Open Sans"), local("OpenSans-Regular"), url(../opensans.woff) format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Open Sans";
  font-style: normal;

  src: local("Open Sans Light"), local("OpenSans-Light"), url(../opensanslight.woff) format("woff");
}

input,
textarea,
.sort-type-list {
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", Arial, sans-serif;
}

p,
.user-nav,
.catalog-nav,
.search-field,
.search-btn,
.phone,
.footer-address {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  letter-spacing: 0.01em;
}

.catalog-nav-btn,
.site-nav,
.btn,
.catalog-sections-list,
.form-contact label {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
}

/*
* — buttons —
*/

.btn {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 160px;
  max-width: 280px;
  padding: 8px 20px;
  overflow: hidden;

  vertical-align: middle;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  white-space: nowrap;
  text-overflow: ellipsis;

  background-color: #f0c52e;
  border: none;
  outline: none;
  -webkit-box-shadow: inset 0 16px 0 0 #ffffff, inset 0 -16px 0 0 #ffffff;
          box-shadow: inset 0 16px 0 0 #ffffff, inset 0 -16px 0 0 #ffffff;

  -webkit-transition: all 200ms;
       -o-transition: all 200ms;
          transition: all 200ms;
  /*TODO: в IE не работает, придется строить костыль
  gradient? ::before ::after?*/
}

.btn:hover,
.btn:focus,
.btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

/*
* — accessibility —
*/

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

.hidden {
  display: none;
}

/*
* — brands —
*/

.brand-grayscale image {
  opacity: 0.2;

  -webkit-transition: opacity 200ms;
       -o-transition: opacity 200ms;
          transition: opacity 200ms;
}

.brand-grayscale:hover image,
a:focus image {
  opacity: 1;
  -webkit-filter: none;
          filter: none;
}

/*
* — forms —
*/
.form-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search-field {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 355px;
  padding: 8px 20px 8px 39px;

  color: #000000;

  background-color: transparent;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: left 4px bottom 14px;
  border: none;
  border-bottom: 2px solid transparent;
}

/*placeholder madness */

.search-field::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-field:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-field::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-field::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-field:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-field:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-field:hover::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-field:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}


.search-field:focus {
  border-bottom: 2px solid #000000;
  outline: none;
}

.search-btn {
  width: 85px;
  height: 49px;
  padding: 0;

  background-color: transparent;
  border: 2px solid #000000;
  visibility: hidden;
}

.search-field:focus + .search-btn {
  visibility: visible;
}

.search-btn:hover {
  color: #ffffff;

  background-color: #000000;
}

.search-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;
  visibility: visible;
}

/*background overlay*/

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 200ms;
       -o-transition: opacity 200ms;
          transition: opacity 200ms;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-line-pack: center;
  -ms-flex-pack: center;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup-writeus {
  /*TODO: тень из PS конвертируется в css неточно; вставить картинкой?*/
  position: relative;

  min-width: 560px;
  max-width: 960px;
  min-height: 553px;

  background: #ffffff;
  border: none;
  -webkit-box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
          box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
}
.form-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 92px 100px 78px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.form-contact input[type="text"],
.form-contact input[type="email"],
.form-contact textarea {
  margin-bottom: 40px;
  padding: 15px;

  background-color: rgba(230, 230, 230, 0.5);
  border: none;;
}

.form-contact input[type="text"]:hover,
.form-contact input[type="email"]:hover,
.form-contact textarea:hover {
  background-color: rgba(230, 230, 230, 0.8);
  border: none;;
}
.form-contact input[type="email"]:invalid,
.form-contact textarea:invalid {
  outline: none;
  box-shadow: none;
  /*TODO: background-color:rgba(237, 181, 181, 0.5);
 проверить и повесить на поля при отправке формы или потере фокуса
 */
}

.form-contact input[type="text"]:focus,
.form-contact input[type="email"]:focus,
.form-contact textarea:focus {
  background-color: #ffffff;
  outline: 3px solid #f0c52e;
}



.form-contact input[type="text"],
.form-contact input[type="email"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 360px;
}

.form-contact .form-field:first-child {
  margin-right: 40px;
}

.form-contact .form-field.flex-wide {
  flex-basis: 100%;

  -ms-flex-preferred-size: 100%;
}

.form-contact textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-height: 155px;
  overflow: auto;

  resize: none;
}

.form-contact input[type="submit"] {
  display: block;
  width: 200px;
}

.form-contact label {
  display: block;
  margin-bottom: 5px;
}

.popup-map {
  /*TODO: тень из PS конвертируется в css неточно; вставить картинкой?*/
  position: relative;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 960px;
  height: 559px;
  padding: 0;

  background: url("../img/map-big.jpg") no-repeat 100% #ffffff;
  border: none;
  -webkit-box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
          box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.modal-close-btn {
  position: absolute;
  top: 22px;
  right: 22px;

  display: block;
  width: 55px;
  height: 55px;
  padding: 0;

  background: url("../img/modal-close.svg") no-repeat center/100%;
  border: none;
  border-radius: 50%;
  opacity: 0.5;

  -webkit-transition: all 200ms;
       -o-transition: all 200ms;
          transition: all 200ms;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  outline: none;
  opacity: 1;
}

.modal-close-btn:active {
  opacity: 0.3;
}
